/* Css mods to the original template */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i');


body, input, select, textarea {
  font-family: "Raleway", Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: "Dancing Script", Helvetica, sans-serif;
}

.greeting {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}